article{
    max-width: 450px;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

article h2{
    font-size: 2rem;
    text-align: center;
}

article p{
    text-shadow: 0 0 10px black;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (min-width:450px){
    article h2{
        width: 100vw;
    }
}