.carr img{
    width: 90%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carr{
    color: black;
    padding: 25px 0;
    background-color: white;
}

.hero{
    min-height: 100vh;
    background-image: linear-gradient(#00000088, #00000088), url('../cataratas2.jpg');
    background-repeat: no-repeat;
}
/*main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .hero{
    height: 86vh;
}

main .heroImg, main .carr img{
    width: calc(100% - 70px);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.753);
}

main .carr h2{
    margin-bottom: 10px;
}*/