.carr img{
    border-radius: 15px;
    border: 3px solid #0095a0;
    border: 3px solid #ff9900;
    box-shadow: 10px 10px 15px #00000099;
    width: 260px;
    height: 180px;
    object-fit: cover;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carr{
    min-height: 70vh;
    color: black;
    padding: 25px 0;
    background-color: white;
    border-top: 2px dashed #ff9900;
}

.carr article{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    width: 100%;
}

.hero{
    min-height: 100vh;
    background-image: linear-gradient(#00000088, #00000088), url('../cataratas2.jpg');
    background-repeat: no-repeat;
}

.hero-img{
    display: none;
    max-width: 700px;
    min-width: 400px;
    width: 50%;
    border-radius: 15px;
    border: 3px solid #0095a0;
    box-shadow: 10px 10px 15px #00000099;
}