.carr img{
    width: 90%;
    border-radius: 15px;
    border: 3px solid #0095a0;
    border: 3px solid #ff9900;
    box-shadow: 10px 10px 15px #00000099;}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carr{
    min-height: 70vh;
    color: black;
    padding: 25px 0;
    background-color: white;
    border-top: 2px dashed #ff9900;
}

.hero{
    min-height: 100vh;
    background-image: linear-gradient(#00000088, #00000088), url('../cataratas2.jpg');
    background-repeat: no-repeat;
}

.hero-img{
    display: none;
    max-width: 700px;
    min-width: 400px;
    width: 50%;
    border-radius: 15px;
    border: 3px solid #0095a0;
    box-shadow: 10px 10px 15px #00000099;
}

/*main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .hero{
    height: 86vh;
}

main .heroImg, main .carr img{
    width: calc(100% - 70px);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.753);
}

main .carr h2{
    margin-bottom: 10px;
}*/