.pgSignin{
    padding: 40px;
    background-color: #c6c6c6;
    background-color: #8f7e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pgSignin .card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
    border-radius: 11px;
    box-shadow: 0 0 25px green;
}

.pgSignin .signupChange{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pgSignin .form-div{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 280px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 0 25px inset;
    background-color: white;
}

.pgSignin .form-div h2{
    text-align: center;
}

.pgSignin .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pgSignin .form label{
    margin-top: 15px;
}

.pgSignin input{
    border-radius: 11px;
    padding: 5px;
    box-shadow: 5px 5px 10px #0080008d;
    outline: none;
    border: none;
    transition: .2s;
}

.pgSignin input:focus{
    background-color: #d4f4d4;
}

.pgSignin label{
    align-self: flex-start;
    padding-left: 10px;
    margin-bottom: 5px;
}

.pgSignin input[type="submit"]{
    width: 100px;
    padding: 10px 5px;
    border-radius: 33px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #0080008d, 0 0 10px inset green;
    transition: .2s;
}

.pgSignin input[type="submit"]:hover{
    background-color: #d4f4d4;
}

.pgSignin input[type="submit"]:active{
    transform: translate(0px, 2px);
}

.pgSignin .information{
    width: 100%;
    min-width: 280px;
    background: url('/tresPicos.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px 10px 10px 0px;
}

.pgSignin .information h2, .pgSignin .information h3{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.pgSignin .information a h3{
    color: black;
}

@media screen and (min-width:800px){
    .information, .form-div{
        width: 280px;
    }
    .pgSignin .card{
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 560px;
        width: 50%;
    }
}