.googleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #0080008d, 0 0 10px inset green;
    width: 25%;
    transition: .2s;
}

.googleButton:hover{
    background-color: #d4f4d4;
}

.googleButton:active{
    transform: translate(0px, 2px);
}

.googleButton img{
    width: 25px;
    height: 25px;
}