.itinerary{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    border-radius: 11px;
    box-shadow: 10px 10px 10px #0000006e;
    background-color: #f6f6f6;
    min-height: 150px;
    flex-direction: column;
    padding: 10px 0px 20px 0px;
    width: 280px;
}

.itinerary .title{
    width: 70%;
    left: 0;
    top: 0;
}

.itinerary p{
    letter-spacing: 1px;
}

.itinerary p:first-child{
    margin-bottom: 10px;
}

.itinerary p:first-child, .itinerary .usr p{
    font-weight: bolder;
    font-size: 20px;
}

.itinerary .price{
    margin-bottom: 60px;
}

.itinerary .usr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.itinerary .usr img{
    width: 60px;
    border-radius: 50%;
}

.likes{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.like{
    font-weight: 100 !important;
    cursor: pointer;
}

.up, .down{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
    color: green;
    text-shadow: 0px 2px 5px #59ff00;

}

.by{
    font-weight: 100;
}

.hiddenActivities{
    position: relative;
    border: 1px solid;
    z-index: 100;
    transform: translate(0,-10px);
    display: none;
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    width: 280px;
    box-shadow: 10px 10px 10px #0000006e;
    border-radius: 0 0 11px 11px;
    border-top: 5px double grey;
}

.activities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 15px;
}

.activities .car-img{
    width: 80%;
}

.activities img{
    border-radius: 5px;
    box-shadow: 0 0 10px green;
    width: 100%;
    height: 100%;
}

.commentsContainer{
    border: 1px solid grey;
    background-color: rgb(98, 197, 98);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.commentsContainer span{
    padding: 2px 8px;
    color: white;
    border-radius: 50%;
    background-color: rgb(106, 24, 183);
    width: 5px;
    height: 5px;
}

.headerComment img, .newComent img{
    width: 50px;
}

.headerComment{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.comment{
    letter-spacing: 1px;
}

.newComent{
    display: flex;
    margin: 40px 20px 0 20px;
    gap: 20px;
}

.input{
    display: flex;
    gap: 20px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 0 30px 30px 0;
    background-color: white;
    padding: 0px 0px 0 10px;
    align-items: center;
    box-shadow: 5px 5px 10px #000000a7;
    position: relative;
}

.input input{
    border: none;
    font-size: 20px;
    width: 90%;
}

.input input:focus{
    outline: none;
}

.input p{
    color: green;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    right: -2px;
    padding-top: 5px;
}

@media screen and (min-width: 850px){
    .itinerary{
        padding: 50px 60px 20px 30px;
        flex-direction: row;
        width: 75vw;
    }
    .itinerary .title{
        position: absolute;
        top: 10px;
        width: 100%;
    }
    .itinerary > div{
        width: 20%;
    }
    .likes{
        width: auto !important;
        bottom: auto;
        left: auto;
        top: 15px;
        right: 15px;
    }
    .hiddenActivities{
        flex-direction: column;
        width: 75vw;
    }
    .activities .car-img{
        width: 30%;
    }
    .itinerary .price{
        margin-bottom: 0px;
    }
}