.itinerary{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    border-radius: 11px;
    box-shadow: 10px 10px 10px #0000006e;
    background-color: #f6f6f6;
    min-height: 150px;
    flex-direction: column;
    padding: 10px 0px 20px 0px;
    width: 280px;
}

.itinerary .title{
    width: 70%;
    left: 0;
    top: 0;
}

.itinerary p{
    letter-spacing: 1px;
}

.itinerary p:first-child{
    margin-bottom: 10px;
}

.itinerary p:first-child, .itinerary .usr p{
    font-weight: bolder;
    font-size: 20px;
}

.itinerary .price{
    margin-bottom: 60px;
}

.itinerary .usr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.itinerary .usr img{
    width: 60px;
    border-radius: 50%;
}

.likes{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.like{
    font-weight: 100 !important;
    cursor: pointer;
}

.liked{
    text-shadow: 0 0 10px green, 0 0 10px green, 0 0 10px green;
}

.up, .down{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
    color: green;
    text-shadow: 0px 2px 5px #59ff00;
}

.by{
    font-weight: 100;
}

.hiddenActivities{
    position: relative;
    border: 1px solid;
    z-index: 100;
    transform: translate(0,-10px);
    display: none;
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    width: 280px;
    box-shadow: 10px 10px 10px #0000006e;
    border-radius: 0 0 11px 11px;
    border-top: 5px double grey;
}

.activities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 15px;
}

.activities .car-img{
    width: 80%;
}

.activities img{
    border-radius: 5px;
    box-shadow: 0 0 10px green;
    width: 100%;
    height: 100%;
}

.commentsContainer{
    border: 1px solid grey;
    background-color: rgb(98, 197, 98);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.comments{
    padding: 40px;
    padding-bottom: 20px;
    border: 1px solid;
    background-color: #6a6a6a;
    border-radius: 5px;
    height: 350px;
    overflow: auto;
    margin-top: 20px;
}

.comments.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments.center img{
    width: 250px;
}

.comments div{
    position: relative;
    padding: 20px;
    border-radius: 11px;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px black;
    width: 50%;
    margin-bottom: 20px;
}

.comments p{
    text-align: initial !important;
}

.comments input{
    width: 100%;
    padding: 5px;
}

.comments input:focus{
    outline: none;
}

.comments .delete{
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 7px;
    font-size: 20px;
    color: red;
}

.comments .edit{
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 30px;
    font-weight: bolder;
    font-size: 20px;
    color: blue;
}

.comments .derecha{
    margin-left: auto;
    background-color: #d4f4d4;
}

.comments .confirm{
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 53px;
    font-weight: bolder;
    font-size: 20px;
    color: green;
}

.newComment{
    display: flex;
    margin: 0px 20px 0 20px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.newComment img{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 50px;
}

.newComment input{
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
    height: 52px;
    border: none;
    box-shadow: 0 0 10px inset, 5px 5px 10px rgba(0, 0, 0, 0.492);
    border-radius: 11px;
    transition: .2s;
}

.newComment input:focus{
    outline: none;
    background-color: #d4f4d4;
}

.newComment button{
    font-size: 20px;
    height: 52px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 10px inset, 5px 5px 10px rgba(0, 0, 0, 0.492);
    border-radius: 11px;
}

.newComment button:hover{
    border: none;
}

@media screen and (min-width: 850px){
    .itinerary{
        padding: 50px 60px 20px 30px;
        flex-direction: row;
        width: 75vw;
    }
    .itinerary .title{
        position: absolute;
        top: 10px;
        width: 100%;
    }
    .itinerary > div{
        width: 20%;
    }
    .likes{
        width: auto !important;
        bottom: auto;
        left: auto;
        top: 15px;
        right: 15px;
    }
    .hiddenActivities{
        flex-direction: column;
        width: 75vw;
    }
    .activities .car-img{
        width: 30%;
    }
    .itinerary .price{
        margin-bottom: 0px;
    }
}

@media screen and (max-width:850px){
    .comments div{
        width: 100%;
        padding: 25px 10px 20px;
        margin-bottom: 10px;
    }
    .comments{
        padding: 10px;
    }
    .newComment{
        flex-direction: column;
        gap: 15px;
    }
    .newComment input{
        width: 200px;
    }
    .newComment img{
        width: 50%;
    }
    .newComment button{
        width: 60%;
    }
}
