@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&family=Libre+Baskerville&family=Montserrat&family=Quicksand:wght@300&family=Titillium+Web:wght@200&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 20vh;
  padding: 20px;
  background-color: #00000027;
}

header h1{
    font-family: 'Quicksand', Tahoma;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 20px black;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title img{
    width: 60px;
}

header nav{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

header nav a, .hero a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff00b3;
    background-color: #f0f8ffc0;
    box-shadow: 5px 5px 8px #0000007a;
}

header nav img{
    height: 42px;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 5px 5px 8px #0000007a;
}

a:hover{
  background-color: #ffffff;
}

.hero{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #00000027;
  color: white;
}

.hero article{
  border: 2px dashed;
  padding: 20px;
  box-shadow: 0 0 15px;
  background-color: #ffffff0a;
}

.hero-art{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.hero-art h2{
  text-align: center;
}

.hero-art p{
  text-align: center;
  max-width: 350px;
}

.background{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../ushuaia.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.car article{
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px;
}

.car h2{
  padding-bottom: 20px;
  font-family: 'Quicksand', Tahoma;
  text-align: center;
}

.car img{
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: 5px groove;
  object-fit: cover;
  position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.car-img{
  margin-bottom: 20px;
}

.contenedor > :last-child{
  margin-bottom: 0;
}

.car-img p{
  font-weight: bold;
}

.cont-btn-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cont-btn-mobile button{
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background-color: #00000023;
  border: 1px solid;
  width: 30px;
  height: 30px;
}

.carousel{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
  cursor: pointer;
}

button:hover{
  background-color: #ffffff;
}

footer{
  padding: 20px;
  padding-top: 30px;
  background: linear-gradient(#f6f6f6, #000153c7);
}

footer p{
  margin-top: 15px;
  text-align: center;
}

footer > p:last-child{
  color: white;
}

footer .cont, .address, footer, .socNetLnk{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer nav, .sNet{
  display: flex;
  gap: 10px;
}

footer nav img{
  display: none;
}

footer a{
  text-decoration: none;
  color: #353535;
  font-weight: bold;
}

footer a:hover{
  background-color: #00000000;
  color: #eee;
}

footer iframe{
  max-width: 90%;
}

@media screen and (max-width: 400px){
  header{
    height: 25vh;
  }
  .hero{
    height: 70vh;
  }
}

@media screen and (max-height: 600px){
  header{
    padding: 10px;
  }
  .hero{
    padding: 0 10px;
  }

  .hero-art{
    gap: 10px;
  }
}

@media screen and (min-width: 660px){
  header{
    display: flex;
    justify-content: space-around;
  }
  .hero{
    padding: 50px !important;
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .car-img{
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .car-img img{
    width: 100%;
  }
  .car-img p{
    position: absolute;
    bottom: 5px;
    background-color: #00000093;
    width: calc(100% - 10px);
    color: white;
    padding: 10px 0;
  }
  footer .cont{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  footer .cont > :nth-child(n){
    width: 33%;
  }
  footer nav{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .carousel{
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width:1100px){
  .carousel{
    max-width: 70%;
  }
}