*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
}
/*body{
  color: white;
  background-image: linear-gradient(#5300018e, #5300018e), url('../mapa.avif');
  background-repeat: no-repeat;
}*/