@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&family=Libre+Baskerville&family=Montserrat&family=Quicksand:wght@300&family=Titillium+Web:wght@200&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 20vh;
  padding: 20px;
  background-color: #0000003f;
}

header h1{
    font-family: 'Quicksand', Tahoma;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 20px black;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title img{
    width: 60px;
}

header nav{
    position: relative;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

nav a, .hero a{
  min-width: 80px;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  border: none;
  border-radius: 35px;
  color: white;
  text-align: center;
  background-color: orange;
  background-color: cyan;
  background-color: red;
  background-color: yellowgreen;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black, 0 0 30px inset black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.hero a{
  min-width: 150px;
}

nav a:hover, .hero a:hover{
  box-shadow: 5px 5px 10px black, 0 0 15px inset black;
  background-color: yellowgreen;
  color: black;
}

.log{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 35px 5px 20px;
}

header nav img{
    position: absolute;
    height: 30px;
    border-radius: 50%;
    right: 0px;
    border: 1px solid black;
}

.hero{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #00000027;
  background-color: #00000099;
  background-color: #0000003f;
  color: white;
}

.hero article{
  border: 2px dashed;
  padding: 20px;
  box-shadow: 0 0 15px;
  background-color: #07750d91;
  background-color: green;
  background-color: #3f33e954;
  background-color: #b19d5cc7;
  letter-spacing: 2px;
}

.hero-art{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.hero-art h2{
  text-align: center;
}

.hero-art p{
  text-align: center;
  max-width: 450px;
}

.background{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../ushuaia.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.car article{
  color: white;
  background-color: #f6f6f6;
  background-color: #07195280;
  background-color: #8f7e50;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 25px inset #000000;
  padding-bottom: 40px;
}

.car h2{
  padding-bottom: 20px;
  font-family: 'Quicksand', Tahoma;
  text-align: center;
}

.car img{
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: 5px groove;
  object-fit: cover;
  position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.car-img{
  margin-bottom: 20px;
}

.contenedor > :last-child{
  margin-bottom: 0;
}

.car-img p{
  font-weight: bold;
}

.cont-btn-mobile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cont-btn-mobile button{
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px inset black, 5px 5px 10px rgba(0, 0, 0, 0.356);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}

.divCpp{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divCpp label{
  font-size: 20px;
}

.divCpp select{
  padding: 5px;
  border: none;
  border-radius: 11px;
  box-shadow: 15px 15px 15px #11111198, 0 0 5px inset black;
}

.divCpp select:focus{
  outline: none;
}

button:hover{
  background-color: yellowgreen;
}

.carousel{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.active{
    background-color: yellowgreen !important;
}

.cont-btn-mobile .next, .cont-btn-mobile .back{
  padding-bottom: 2px;
  text-shadow: 0 1px 1px black, 0 -1px 1px black;
}

footer{
  padding: 20px;
  padding-top: 30px;
  background-color: #071952;
  background-color: #064e0c;
  background-color: #815f3f;
  background-color: #b19d5c;
  color: black;
}

footer p{
  margin-top: 15px;
  text-align: center;
}

footer .cont, .address, footer, .socNetLnk{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer nav, .snet{
  display: flex;
  gap: 10px;
}

footer nav{
  margin-top: 10px;
}

footer .snet{
  gap: 20px;
  font-size: 30px;
}

footer nav img{
  display: none;
}

footer iframe{
  max-width: 90%;
  border-radius: 11px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 400px){
  header{
    height: 25vh;
  }
  .hero{
    height: 70vh;
  }
  .pgDetails .backAnchor{
    left: 2px;
    top: 170px;
  }
}

@media screen and (max-height: 600px){
  header{
    padding: 10px;
  }
  .hero{
    padding: 0 10px;
  }
  .hero-art{
    gap: 10px;
  }
  .pgDetails .backAnchor{
    left: 6px;
    top: 120px;
  }
}

@media screen and (min-width: 850px){
  header{
    display: flex;
    justify-content: space-around;
  }
  header nav{
    padding-top: 20px;
  }
  nav a{
    min-width: 120px;
  }
  .hero{
    padding: 50px !important;
  }
  .hero-art h2{
    font-size: 30px;
  }
  .hero-art p{
    font-size: 20px;
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .car-img{
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .car-img img{
    width: 100%;
  }
  .car-img p{
    position: absolute;
    bottom: 5px;
    background-color: #00000093;
    width: calc(100% - 10px);
    color: white;
    padding: 10px 0;
  }
  footer .cont{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  footer .cont > :nth-child(n){
    width: 33%;
  }
  footer nav{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .fa-brands{
    color: black;
  }
  .carousel{
    max-width: 100%;
    margin: auto;
  }
  .fa-facebook-f:hover{
    color: #0000ff;
  }

  .fa-instagram:hover{
      color: #ff00bf;
}

  .fa-twitter:hover{
      color: #00e2e2;
  }
}

@media screen and (min-width:1100px){
  .carousel{
    max-width: 70%;
  }
}