.carousel div{
    display: flex;
    gap: 15px;
}

.car-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

.carousel div p{
    bottom: 15px;
    width: 100%;
    position: absolute;
    background-color: #0088ff99;
    color: white;
    padding: 10px;
    font-weight: bolder;
}