.carousel div{
    display: flex;
    gap: 15px;
}

.car-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

.carousel div p{
    color: #090081;
    margin-bottom: 20px;
}