.pgDetails .hero{
    color: black;
    flex-direction: column;
    height: 100%;
    gap: 40px;
    background-color: #8f7e50;
    box-shadow: 0px 0px 25px inset #000000;
}

.pgDetails .hero .under{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pgDetails .hero .under img{
    width: 200px;
}

.pgDetails h2, .pgDetails h3, .pgDetails p{
    text-align: center;
}

.pgDetails .card{
    border-radius: 11px;
    width: 75vw;
    border: 1px solid;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.507);
}

.pgDetails .card img{
    width: 100%;
    aspect-ratio: 16/11;
    height: 100%;
    object-fit: cover;
    border-radius: 11px 11px 0px 0px;
}

.pgDetails .data{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 0px 0px 11px 11px;
}

.pgDetails .inter{
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
}

.pgDetails ul{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

.pgDetails iframe{
    width: 90%;
    aspect-ratio: 16/9;
    align-self: center;
    margin: 20px 0;
    border-radius: 11px;
}

.pgDetails .itineraries > h2 {
    color: #236d23;
    text-shadow: 0 0 20px #abff00;
}

.pgDetails .itineraries h2{
    padding: 10px 0;
}

.pgDetails .itineraries{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.itineraries .notYet{
    width: 250px;
}

.pgDetails .backAnchor{
    position: absolute;
    left: 5px;
    top: 190px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
    min-width: 0;
    transition: all .4s;
}

.pgDetails .backAnchor:hover{
    background-color: transparent;
    border: none;
    box-shadow: none;
    transform: scale(1.1);
}

.pgDetails .backImg{
    width: 40px;
}

@media screen and (max-height: 600px){
    .pgDetails .card{
        margin-top: 50px;
    }
}

@media screen and (min-width: 1100px){
    .pgDetails .card{
        width: auto;
        display: flex;
        align-items: space-between;
    }
    .pgDetails .card img{
        width: 600px;
        border-radius: 11px 0px 0px 11px;
    }
    .pgDetails .data{
        border-left: 2px dashed;
        justify-content: space-between;
        padding: 15px;
        border-radius: 0px 11px 11px 0px;
    }
    .pgDetails iframe{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    .hiddenActivities, .itinerary{
        width: 938px !important;
    }
    .pgDetails .backAnchor{
        left: 30px;
        top: 220px;
    }
}