.pg404 .hero{
    flex-direction: column;
    gap: 20px;
    color: black;
    background-color: #8f7e50;
    box-shadow: 0px 0px 25px inset #000000;
}

.pg404 .hero{
    height: 100%;
    min-height: 50vh !important;
}

footer{
    min-height: 30vh;
}

.pg404 img{
    width: 250px;
}